@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --page-dark: #22252d;
  --symbol-dark: #282b33;
  --symbol-container-dark: #2a2d37;
}

.bg-page-dark{
  background-color: var(--page-dark);
}

.bg-symbol-dark{
  background-color: var(--symbol-dark);
}

.bg-symbol-container-dark{
  background-color: var(--symbol-container-dark);
}